/* Стилі для контейнера скроллу та його елементів */
#scroll-container {
    height: 300px;
    overflow-y: scroll;
}

.scroll-item {
    height: 50px;
    padding: 10px;
    border: 1px solid black;
}